# {{ ansible_managed }}
<VirtualHost *:443>
    ServerName {{ apache_common_name }}
    SSLEngine on
    SSLCertificateFile /etc/ssl/certs/{{ apache_common_name }}.crt
    SSLCertificateKeyFile /etc/ssl/private/{{ apache_common_name }}.key

    ProxyPreserveHost On
    ProxyPass / http://127.0.0.1:{{ apache_proxy_port }}/
    ProxyPassReverse / http://127.0.0.1:{{ apache_proxy_port }}/
</VirtualHost>
